# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Playwright / browser artifacts
# =========================
playwright-report/
test-results/

# =========================
# IDE (VS Code / PyCharm)
# =========================
.vscode/
.idea/

# =========================
# OS files (Mac)
# =========================
.DS_Store

# =========================
# Logs (optional but good)
# =========================
*.log